nav.main {
	padding: 0 20px 30px 0;
}

.main ul {
	list-style-type: none;
	padding: 0;
}

nav.main a {
	display: block;
	text-decoration: none;
	color: #222;
	font-weight: bold;
	padding: 10px 0 10px 10px;
	transition: color 0.4s;
	transition: 0.6s;
}

nav.main a:hover {
	transform: translateX(20px);
	color: #ea9898;
	text-shadow: 0 0 1px grey;
}

nav.main a.active {
	border-left: 10px #ea9898 solid;
	color: #ea9898;
	transform: translateX(0px);
}
